<h1>Visualizar Protesto</h1>

<p>Visualização e manutenção de protestos.</p>

<p *ngIf="!protestos"><em>Loading...</em></p>

<label>Procurar: <input type="text" ng-model="searchText" id="search"/></label>

<table mdbTable class='table table-striped' *ngIf="protestos">
  <thead>
    <tr>
      <th>CPF/CNPJ Devedor</th>
      <th>Codigo Interno</th>
      <th>Nome Devedor</th>
      <th>Numero Titulo</th>
      <th>Valor Titulo</th>
      <th>Deletar</th>
      <th>Visualizar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let protesto of protestoswer">
      <td>{{ protesto.cpF_CNPJ_Devedor }}</td>
      <td>{{ protesto.codigoInterno }}</td>
      <td>{{ protesto.nomeDevedor }}</td>
      <td>{{ protesto.numeroTitulo }}</td>
      <td>{{ protesto.valorTitulo }}</td>
      <td><button>DELETAR</button></td>
      <td><button>VISUALIZAR</button></td>
    </tr>
  </tbody>
</table>
